

<div class="container">
<h3><strong>Edit Profile</strong></h3>
<%= render "form", post: @post %>



<br>

<div>
  <%= link_to "Show this post", @post %> |
  <%= link_to "Back to posts", posts_path %>
</div>
</div>

