
<div class="container">

<h3><strong>Posts</strong></h3>




<div id="posts">
  <% @posts.each do |post| %>

    <div class="card-panel shadow p-5 rounded-2 mb-2 border radius">

     
    <%= render post %>
   
   
      <%= link_to "Show this post", post %>
       </div>
    
  <% end %>
   





</div>
      
  
</div>