

   <div class="card-panel shadow p-5 rounded-5 mb-3">

    <h3><strong><%= @heading %></strong></h3>
      <div class="alert alert-light">
        <h6><%= @text %></h6>
       </div>
</div>
     <div class="card-panel shadow p-3 rounded-5 mb-3">
     <div class="alert alert-light">
        <h6><%= @verjaban %></h6>
    </div>
</div>